
  @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/* upari */
.boxborder {
    border: 3px solid red;
    border-radius: 20px;
    width: 60%;
    display: block;
    margin: 0 auto 0;
    color: rgb(56, 59, 51);
    font-size: 4vh;
    font-family: 'Handjet', cursive;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2ca0ad;
    display: flex;
    justify-content: center;
  }
  
  .lif {
    position: absolute;
    left: 50;

  }
  
  .lif a img {
    background-color: azure;
    border-radius: 50%;
    position: relative;
    top: 15px;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  

  /* footr */
  .footer {
    text-shadow: #38444d;
    color: wheat;
    background-color: black;
    opacity: 60%;
    padding: 2px 20%;
    margin-bottom: 5px;
    font-size: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  
  /* bodyy */
.main-body{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(orange,white,green)

}

.todobox{
    width: 50%;

    height: 500px;

    background-color: bisque;
    border-style:groove ;
    border-radius: 5px;
display: flex;
flex-direction: column;
    padding: 5px ;


}
 
#addbox{
  padding: 5px;
  font-size: 15px;
  width: 100%;
  border: 1px solid rgb(133, 99, 99);
  border-radius: 10px;
  display: block;
  box-shadow: 0 0 5px grey;
  font-family: 'Indie Flower', cursive;
}
#tasklist{
  /* margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px; */
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

} 

#tasklist li{
  color: #fffefd;
  border-radius: 3px;
  position: relative;
  padding-top:5px;
  padding-bottom:5px ;
  padding-right: 30px;
  margin-top: 3px;
  margin-bottom: 3px;
 background-color: grey;
 text-align: justify;
 user-select: none;
 font-family: 'Indie Flower', cursive;
 text-transform: capitalize;
 width: 100%;
 height: fit-content;
 border: 10px solid grey;
border-radius: 10px;
 box-shadow: 5px rgb(44, 43, 43);  


}

#tasklist li i {
  position: absolute;
  right: 10px;
  top:10px; 
}

.done {
  text-decoration:line-through #0f1010 ;
  border-radius: 10px;
}


#box{
  height: 15px;
  width: 15px;
}